<li class="dropdown-submenu">
  <a href="#">2018 Spring Web Apps Section 03<span class="caret"></span></a>
  <ul class="dropdown-menu">
    
    <li class="dropdown-submenu">
      <a href="/about/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t2/a">NaveenKumar Nuggu</a></li>
        <li><a href="/about/t2/c">Bharadwaj Dasari</a></li>
        <li><a href="/about/t2/b">Midhun Kumar Kurapati</a></li>
      </ul>
    
   
  </ul>
</li>