<body>
     <div class="container-fluid">
      <img class="center-block img-circle" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/18342111_1685589378125816_5064506589575572289_n.jpg?_nc_cat=0&oh=8ad1d91fc87d6afa64cb0961adc0c614&oe=5B624AE8" width="300" height="350"/>
      <div class="row">
        <div class="col-sm-4"  style="color:rgb(17, 10, 11)">
        <div class="container-fluid bg-grey">
      <h1>ABOUT </h1>
      <h4>CURRENT</h4>      
      <p>Graduate Student in Applied Computer Science at Northwest Missouri State University,Maryville.</p>
      <h4>Intrest</h4>
            
      <p>Watching Tv series, playing Cricket in Free time. </p>
      <h4>BACKGROUND</h4>
      <p>I am from karimangar, telangana which is southern part of India.  </p>
    </div>
    <br>
          <div class="row">
            <div class="col-sm-6" style="background-color:none;">
              <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
              width="300" height="300" frameborder="0" allowfullscreen></iframe>
            
            </div>
            <div class="col-sm-6" style="background-color:lightgray;"></div>
          </div>
        </div>
        <div  class="col-sm-8" style="none">
        </div>
      </div>
    </div>
    
    
      
    
    </body>