<!-- dev - project team 02 -->
</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2018</p>
    <p class="text-muted"><a href="https://bitbucket.org/Naveenkumar_Nuggu/project2">Repository</a></p>
  </div>
</footer>