<body background="background.jpg">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

               
        <a class="navbar-brand" href="/">Welcome</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li>
          <a href="/plane">Planes</a>
        </li>
        <li>
          <a href="/pilot">Pilots</a>
        </li>
        <li>
          <a href="/flight">Flights</a>
        </li>
        <% include about.ejs %>
      </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="span4" >
            <img class="center-block img-circle" src="https://instagram.fcou1-1.fna.fbcdn.net/vp/4a74bb3803bfce9cca3b9f8fbd49f436/5B53C2CC/t51.2885-19/s150x150/29414482_2075840475992952_7628493131859623936_n.jpg" width="300" height="350"/>
        </div>
       
        
    </div>
    <div class="row" id="about">
        <div><tittle><h3>
                03- MIDHUN KUMAR KURAPATI</h3>
                </tittle></div>
        <div class="col-md-6">
            <h3>CURRENT</h3>
            <p>*I am newly enrolled person of the spring 2018 batch at NWMSU. </p>
            <p>*To Undertake the masters at Applied Computer Science.</p>
            <h3> BACKGROUND </h3>
            <P>*I Came from southern part of INDIA and my home town is Nellore.</p>
            <p>*I had received my Bachelors of Engineering from ANNA UNIVERSITY.</p>
            <p>*My major in B.E. is Electronics and Communication Engineering.</P>
            <p>*I had no work experience and i passed out recent year 2017 only.</p>
        </div>
        
        <div class="col-md-6">
            <h3> PLANS </h3>
            <p>*I am looking forward to enhance the technical and practical skills in masters </p>
            <p>*I would like to work as a Data base Developer </P>
            <h3> HOBBIES </h3>
            <p>*Playing cricket and football </p>
            <p>*Also I like to watch the web series </p>
            
        </div>

       
        
    </div>
    
    <div>
            <div class="row"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="col-md-4"></div>
    </div>

    

</body>