<!-- NaveenKumar Nuggu -->
<br/>
<br/>
<h2>flight details</h2>
<br/> ID:
<%=  flight._id %>
  <br> Starting point:
  <%=flight.startingPoint%>
    <br/> Ending Point:
    <%=flight.endingPoint%>
      <br/> Duration Hours:
      <%=flight.durationHours%>
        <br/> Pilot Id:
        <%=flight.pilotId%>
          <br/>Plane Id:
          <%=flight.planeId%>
            <br/>
            <br/>
            <br/>


            <form method="get" action="/flight">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>