<!-- NaveenKumar Nuggu -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
      <h2>Recent flight entries</h2>
      <p>There are
        <%= flights.query.length %> flights.
          <br/>
      </p>
      <table> 
          
        <tr> 
          <th>ID</th> <th>&emsp;&emsp;FLIGHT NAME</th>  
          
         <td><th>Other Details</th></td>
        </tr>
       
        <td><br></td>
        
   
    <% for (var i = 0; i <= flights.query.length-1; i++) {  
      flight = flights.query[i];  %>
      

<tr>

<th><%=flight._id %></th>

<th>&emsp;&emsp;<%=flight.name%></th>

              <th>&emsp;&emsp;<a href="/flight/details/<%= flight._id %>" class="btn btn-info">Details</a></th>
                  <th>&emsp;&emsp;&emsp;<a href="/flight/edit/<%= flight._id %>" class="btn btn-warning">Edit</a></th>
                  <th><a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger">Delete</a></th> 

                       
</tr>
   
<td><br></td>
<% } %>
        </table>

    </div>
  </div>
</div>