<!-- NaveenKumar Nuggu -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
    </div>
    <div class="form-group">
      <label for="startingPoint">Starting Point</label>
      <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>" required>
    </div>
    <div class="form-group">
        <label for="endingPoint">Ending Point</label>
        <input type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>" required>
    </div>
    <div class="form-group">
          <label for="durationHours">Duration in Hours</label>
          <input type="text" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>" required>
    </div>
    <div class="form-group">
        <label for="pilotId">Pilot Id</label>
        <input type="text" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>" required>
  </div>
  <div class="form-group">
      <label for="planeId">Plane Id</label>
      <input type="text" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>" required>
</div>
  </div>
</div>
<hr>
<br/>
<br/>
  <script>
    
     document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
// END CLIENT SIDE CODE  (close the script tag)
</script>