<br/>
<br/>
<br/>
<body class="home">

    
    <div class="row">
    <div class="col-sm-2 col-md-2 col-xs-2"></div>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <!-- <img src="naveen6.jpg" class="img-circle"  alt="yourimage" style="width:15em;height: 15em; position: relative;left: 20em; top:4em">            </div> -->
            <img src="/naveen6.jpg" alt="your image" class="img-circle" height="130" width="130" style="margin-top: 5em"/> 
    <div class="col-sm-2 col-md-2 col-xs-2"></div>
    </div>
       
    <div class="row">
        <div   class="col-sm-6 col-xs-6">
            <article id="intro">
                <div>
                    
                    <h2> NaveenKumar_Nuggu</h2>
                </div>
                <section >              
                    <h2>Introduction:</h2>
                    <p class="txt">
                        I am a newly enrolled member of the Spring 2018 Batch working on my Masters of Applied Computer Science.
                        Currently I am living in Horizon West Apartments, Apartment number - 102.
                    </p>
                </section>
                <section>
                    <header>
                        <h2>Background:</h2>
                        <p class="txt">
                            I am from India and my home town is Nandyal. I had perceived my Bachelors degree from Jawaharlal Nehru Technological University 
                            Anantapur in the Information Technology stream in the year of 2015. 
                            I worked as Associate Software Engineer at Travel Tripper India Private Limited  at Hyderabad.
                        </p>
                    </header>
                </section>
            </article>


        </div>

        <div class="col-sm-6">
            <aside id="intro1">
                <header>
                    <h2>Hobbies:</h2>
                    <ul class="txt">
                        <li>Watching Movies</li>
                        <li> Playing Games</li>
                    </ul>
                    <h2>Motivational_quote:</h2>
                    <p class="txt"> I believe in  "<span style="color:chartreuse">T</span>ry and <span style="color:chartreuse">T</span>ry until you get succeed but never fail to <span style="color:chartreuse">T</span>ry." 
                        Which I call it as <span style="color:chartreuse">T Cube Mantra</span> which helped me many times.</p>
                </header>
            </aside>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">


            <div class="embed-responsive embed-responsive-16by9">
                <!--iframe class="embed-responsive-item" src="//www.youtube.com/embed/VleKtI8QcJg"></iframe-->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2OcbJkQY-SA" ></iframe>
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
    <div id="foot" class="row">
        <div class="col-sm-12">
            <footer>
                <nav class="navbar navbar-inverse navbar-fixed-bottom">
                    <div class="container">
                        <p id="email">S531373@nwmissouri.edu</p>

                    </div>

                </nav>
            </footer>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>


<br/>
<br/>