<!-- Bharadwaj Dasari-->
<br/>
<br/>
<h2>Plane details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
<br> Tail Number:
<%=plane.tailNumber%>
  <br/> No.of Seats:
  <%=plane.numSeats%>
    <br/> Fuel Capacity:
    <%=plane.fuelCapacity%>
        <br/>
        <br/>
        
            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>