<!-- Bharadwaj Dasari-->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="plane/create" class="btn btn-primary new">
        Create a new plane
      </a>
      <h2>Recent plane entries</h2>
      <p>There are
        <%= planes.query.length %> planes.
          <br/>
      </p>
      <table> 
      <tr> 
        <th>ID</th> <th>&emsp;&emsp;Number of Seats</th>   
       <td><th>Other Details</th></td>
      </tr>
     <td><br></td>
      <% for (var i = 0; i <= planes.query.length-1; i++) {  
    plane = planes.query[i];  %>
    <tr>

<th><%=plane._id %></th>

<th>&emsp;&emsp;<%=plane.numSeats%></th>


              <th>&emsp;&emsp;<a href="/plane/details/<%= plane._id %>" class="btn btn-info">Details </a></th>
                         <th>&emsp;&emsp;&emsp;<a href="/plane/edit/<%= plane._id %>" class="btn btn-warning">Edit</a></th>
                          <th><a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger">Delete</a></th> 

                     
</tr>
 
<td><br></td>
<% } %>
      </table>

  </div>
</div>
</div>