<!-- Bharadwaj Dasari-->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="tail">Tail number</label>
      <input type="text" class="form-control" id="tail" name="tail" value="<%= plane.tailNumber %>" required>
    </div>
    <div class="form-group">
      <label for="seats">No.of Seats</label>
      <input type="number" class="form-control" id="seats" name="seats" value="<%= plane.numSeats %>">
    </div>
    <div class="form-group">
      <label for="capacity">Fuel Capacity</label>
      <input type="number" class="form-control" id="capacity" name="capacity" value="<%= plane.fuelCapacity %>">
    </div>
  </div>
</div>
<hr>
<script>
  
   document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }
</script>
